<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
    <p>
        We could look at the following example: $$ 0.1m + 8 - 12n, \text{ when } m=30 \text{ and } n = \frac{1}{4}      $$
    </p>
    <h3>With fractions: </h3>
    <p>
        $$ \frac{3}{2}y-3+\frac{5}{3}z , y = 4 and z = 3 $$
        $$ 1.5*4-3+1.66*3 $$
        $$ 6-3+5 = 8 $$
    </p>
    <h3>With decimals: </h3>
    <p>
        $$ 13 - 0.5w + 6x \text{ when } w = 10 \text{ and } x = \frac{1}{2} $$
        $$ 13 - 5 + 3 = 11 $$
    </p>
    <p>
    $$ 8j - k + 14 \text{ when } j = 0.25 \text{ and } k = 1 $$
    $$ 2 - 1 + 14 = 15 $$
    </p>
    <p>
    $$ \frac{j}{k} - 0.2k \text{ when } j = 25 and k = 5 $$
    $$ \frac{25}{5} - 0.2 * 5  $$
    $$ 5 - 1 = 4 $$
    </p>
    <p>
    $$ \frac{e}{4} + 2f - 3 \text{ when } e = 12 \text{ and } f = \frac{1}{2} $$
    $$ 3 + 1 - 3 = 1 $$
    </p>
    <h3> Converting 25 celcius to fahrenheit with a formula </h3>
    The formula looks like so:
    <p>
    $$ F = \frac{9}{5}C + 32 $$
    so we have
    $$ \frac{9}{5} * 25 + 32  $$
    and the way with fractions is that this is the exact same thing:
    $$ \frac{9}{5} * \frac{25}{1} + 32 $$
    And when you multiply two fractions you multiply the enumerator and the denominator with eachother
    $$ \frac{9*25}{5*1} + 32 $$
    $$ \frac{225}{5} + 32 $$
    now we could devide 225 by 5, but honestly we could have done something smarter. if the denominator in the first fraction has a common denominator as
    the second fractions numerator, we can divide them both with that denominator(or vice versa ofc), so lets try again:
    then we have that 5 is a common denominator between the two, so we can say 
    $$ 25/5 = 5, 5/5 = 1  $$
    $$ \frac{9}{1} * \frac{5}{1} + 32 $$
    $$ 45 + 32 = 77 $$

    <p> 
        The surface area of a cube is equal to the sum of the areas of its six sides. The surface area of a cube with side length x is given by the expression $$ 6x^2 $$ 
        Jolene has two cube-shaped containers that she wants to paint. One cube has side length 2. The other cube has side length 1.5. 

        What is the total surface area she has to paint?

        The first one is easy, its $$ 6(2^2) = 24 $$ the second one is $$ 6(1.5^2) $$ a way to calculate a fraction like this, is to multiply with 10 and then divide by 100 after(moving the decimal 2 places), 
        so lets say $$ 6(15^2) = 6(225) $$ then divide that number with 100 and we get $$ 6(2.25) = 13.5 $$

    
    </p>

</body>

</html>
