<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
    When we have to multiply a unit fraction with a whole number e.g. $$ \frac{5}{3} * 5 $$
    we can look at it in several ways, one of the ways to look at it is that its 
    $$ \frac{5}{3} + \frac{5}{3} + \frac{5}{3} + \frac{5}{3} + \frac{5}{3} $$
    if we had to calculate further than that i suppose we would have to say $$ 25/3 \text{ and then divide 3 with 25 which gives us 8 with 1 remainder } $$ Maybe we cannot quite use this to anything, then we would have to calculate the exact number of $$ 1/3 $$ which in this case is pretty easy, but we dont need much imagination to think of a harder fraction to calculate. So i guess we're going to learn to like fractions, so what we're going to do when we have these is that instead of transforming the fraction into a number, we transform the number into a fraction and multiply them with eachother. 
    $$ \frac{5}{3} * 5 \Leftrightarrow \frac{5}{3} * \frac{5}{1}    $$
    and when we have to multiply fractions with eachother we simply multiply the numerator in the first fraction with the one in the second fraction and vice versa with the denominator, like so $$ \frac{5}{3} * \frac{5}{1} =  \frac{5*5}{3*1} = \frac{25}{3} $$ which is a completely acceptable number.
</body>

</html>
